.additionalInfo {
  margin-top: 0.5rem;
  margin-left: 1rem; /* Added left margin for visual hierarchy */
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  max-height: 0;
  opacity: 0;
  transform: translateY(-10px); /* Starts slightly above its final position */
  overflow: hidden;
}

.additionalInfo.show {
  max-height: fit-content; /* Adjust as needed based on content */
  opacity: 1;
  transform: translateY(0); /* Moves to its natural position */
}